<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.review.sunqi.iamss.androidreview">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".AndroidReviewApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FirstActivity"
            android:launchMode="standard"/>
        <activity android:name=".SecondActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".ThirdActivity"
            android:launchMode="standard"/>
        <activity android:name=".serializablepkg.SerializableTestDemo"
            android:launchMode="standard"/>
        <activity android:name=".fragment_test.HolderActivity"
            android:launchMode="standard"/>
        <activity android:name=".adil_Test.AidlTestActivity"
            android:launchMode="standard"/>
        <activity android:name=".aidl2.AidlTest2Activity"
            android:launchMode="standard"/>
        <activity android:name=".aidl3.MessengerActivity"
            android:launchMode="standard"/>
        <activity android:name=".aidl4_binderpool.BinderPoolActivity"
            android:launchMode="standard"/>
        <activity android:name=".ashmem_test.AshmemActivity"
            android:launchMode="standard"/>
        <activity android:name=".flow.FlowTestActivity"
            android:launchMode="standard"/>
        <activity android:name=".testView.MyTextViewActivity"
            android:launchMode="standard"/>
        <activity android:name=".testviewGroup.MyTestViewGroupAct"
            android:launchMode="standard"/>
        <activity android:name=".okhttp_demo.OkHttpDemoActivity"
            android:launchMode="standard"/>
        <activity android:name=".glide_test.demo.GlideTestActivity"
            android:launchMode="standard"/>
        <activity android:name=".diy_view.demo.ViewActivity"
            android:launchMode="standard"/>
        <activity android:name=".animation_test.view_animation.ViewAnimationTestAct"
            android:launchMode="standard"/>
        <activity android:name=".animation_test.property_animation.ObjectAnimatorTestAct"
            android:launchMode="standard"/>
        <activity android:name=".thread_test.AsyncTaskTestActitivity"
            android:launchMode="standard"/>
        <activity android:name=".plugin_invoke_helper.MySubActivity"
            android:launchMode="standard"/>
        <activity android:name=".eventbus_test.EventBusTestActivity"
            android:launchMode="standard"/>
        <activity android:name=".eventbus_test.TestTwoActivity"
            android:launchMode="standard"/>
        <service android:name=".adil_Test.MyAidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl"/>
        <service android:name=".aidl2.AIDLService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl"/>
        <service android:name=".aidl3.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl"/>
        <service android:name=".aidl4_binderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl"/>
        <service android:name=".ashmem_test.AshmemService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl"/>
    </application>

</manifest>